.hero {
  position: relative;
  height: 70vh;
  overflow: hidden;
}

.heroVideo {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;

  transform: translateZ(0);
  backface-visibility: hidden;
}

.heroOverlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
}

.heroContent {
  position: relative;
  z-index: 10;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 20px;
}

.watchBtn {
  padding: 12px 24px;
  border-radius: 999px;
  border: none;
  cursor: pointer;
}

.gridSection {
  padding: 60px 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  contain: content;
}

@media (max-width: 992px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 576px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 12px;

  content-visibility: auto;
  contain-intrinsic-size: 350px 350px;

  will-change: transform;
}

.aspectBox {
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;

  background: #f3f3f3;
}

.image {
  width: 100%;
  height: 100%;

  display: block;

  object-fit: cover;

  transform: translateZ(0);
  backface-visibility: hidden;

  image-rendering: auto;

  // content-visibility: auto;
}

.hoverOverlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  opacity: 0;
  transition: 0.3s;
}

.card:hover .hoverOverlay {
  opacity: 1;
}

.modal,
.videoModal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
}

.modalFrame,
.videoFrame {
  width: 90%;
  max-width: 1200px;

  contain: layout paint;
}

.modalImage,
.video {
  width: 100%;
  max-height: 90vh;
  object-fit: contain;

  display: block;

  transform: translateZ(0);
  backface-visibility: hidden;
}
.close {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 999999;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  font-size: 50px;
  background: none;
  border: none;
  color: white;
}

.prev {
  left: 30px;
}

.next {
  right: 30px;
}

.counter {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}
